/* FOOTER */
footer {
    background-color: #3e251e;
    color: rgb(209, 46, 46);
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Asegura que no se superponga con el contenido */
    width: 100%;
    font-family: "Caveat Brush", sans-serif;
    font-size: 1.5rem;
    margin-top: auto; /* Coloca el footer al final de la página */
  }
  
  /*MEDIA QUERYS*/
  /*S1*/
  @media (max-width: 344px) {
    footer {
     position: fixed !important;
     bottom: 0 !important;}
    }
    
   
      

 