.page {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos adicionales para el flipbook */
  .react-pageflip {
    margin: 0 auto;
  }