/* NAVBAR */
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e251e;
  color: white;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
}
 
.navbar-logo img {
  height: 60px;
}

.Nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav li {
  font-size: 20px;
  font-family: "Caveat Brush", sans-serif;
}

.Nav a,
.Nav .login-link { /* Añadido para el login */
  background-image: linear-gradient(to top, #ff6a3d, #c82c1e); /* Gradiente de izquierda a derecha */
  -webkit-background-clip: text; /* Para que el gradiente se aplique al texto */
  background-clip: text;
  color: transparent; /* Hacer que el color original del texto sea transparente */
  text-decoration: none;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease; /* Transición para el gradiente */
  z-index: 1;
  cursor: pointer; /* Para que se vea clickeable */
}

.Nav a:hover,
.Nav .login-link:hover {
  background-image: linear-gradient(to right, #ffffff, #ffffff); /* Cambiar gradiente al pasar el mouse */
}


.Nav ul li a::after,
.Nav ul li .login-link::after { /* Añadido para el login */
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  background-color: transparent;
  left: -20%;
  top: -20%;
  transition: all 0.3s ease;
  z-index: -1;
}

.Nav ul li a:hover::after,
.Nav ul li .login-link:hover::after { /* Añadido para el login */
  background-color: #000000;
  opacity: 1;
}

.Nav ul li a:hover,
.Nav ul li .login-link:hover { /* Añadido para el login */
  color: #ff7f1d;
}
