/* NAVBAR */
.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3e251e;
  color: white;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
  z-index: 10;
}
 
.navbar-logo img {
  height: 60px;
}

.Nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav li {
  font-size: 17px;
  font-family: "Fugaz One", serif;
  font-weight: 400;
  font-style: normal;
}

.Nav a,
.Nav .login-link { /* Añadido para el login */
  background-image: linear-gradient(to top, #ff6a3d, #c82c1e); /* Gradiente de izquierda a derecha */
  -webkit-background-clip: text; /* Para que el gradiente se aplique al texto */
  background-clip: text;
  color: transparent; /* Hacer que el color original del texto sea transparente */
  text-decoration: none;
  position: relative;
  transition: background 0.3s ease, color 0.3s ease; /* Transición para el gradiente */
  z-index: 1;
  cursor: pointer; /* Para que se vea clickeable */
}

.Nav a:hover,
.Nav .login-link:hover {
  background-image: linear-gradient(to right, #ffffff, #ffffff); /* Cambiar gradiente al pasar el mouse */
}


.Nav ul li a::after,
.Nav ul li .login-link::after { /* Añadido para el login */
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  background-color: transparent;
  left: -20%;
  top: -20%;
  transition: all 0.3s ease;
  z-index: -1;
}

.Nav ul li a:hover::after,
.Nav ul li .login-link:hover::after { /* Añadido para el login */
  background-color: #000000;
  opacity: 1;
}

.Nav ul li a:hover,
.Nav ul li .login-link:hover { /* Añadido para el login */
  color: #ff7f1d;
}

/* Estilos base */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #c3340c;
}

/* Menú responsive */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, #180c08, #3e251e);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    border-radius: 0 0 30px 30px; 
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.7); /* Sombra suave */
  }
  
  .navbar-links.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  

  .navbar-links li {
    padding: 15px;
    text-align: center;
  }
}

/*MEDIA QUERYS*/
/*S1*/

@media (max-width: 375px){
  .Nav {
    width: 91.5%;
  }
}

@media (min-width: 412px) and(max-width: 767px) {
  .Nav {
    width: 76%;
  }
}
