.revistas-container {
  padding-top: 1rem;
  max-width: 1500px;
  margin: 0 auto; /* Centrado del contenedor */
  text-align: center;
  font-family: "Fugaz One", serif;
}

.revistas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* auto-fill puede ayudar a llenar el espacio */
  gap: 60px;
  margin-top: 8rem;
  margin-bottom: 11rem;
}

.revista-card {
  background-image: linear-gradient(to bottom, #000000, #3e251e);
  /*border: 1px solid #000000; crea un borde como sketch*/
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: transform 0.2s ease;
  height: 20rem;
  width: 100%; /* Asegúrate de que el card ocupe el espacio completo de la celda */
}

.revista-card:hover {
  transform: scale(1.05);
}

.revista-thumbnail {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.revista-info {
  padding: 10px;
}

.revista-info h3 {
  font-size: 16px;
  margin: 0;
  color: #e55d35;
  font-family: "Fugaz One", serif;
  font-weight: 100;

}

.revista-info p {
  font-size: 12px;
  color: #9e9397;
  margin-top: 2px;
}

h1 {
  color: #1a1a1a;
  
}



@media (max-width:1280px){
.revista-card {
  width: 92%;
  margin-left: 1rem
}
  }
