/* Fondo difuso cuando la revista está abierta */
.revista-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  position: relative;
  backdrop-filter: blur(2px);
}

.revista-container.blurred {
  backdrop-filter: blur(3px);
}

/* Estilos para el modal de contraseña */
.password-container {
  background-image: linear-gradient(to bottom, #9e9397, #adaa97);
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

/* Estilos para el título */
.password-container h2 {
  font-family: 'Caveat Brush', sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.password-input {
  width: 94%;
  padding: 10px;
  margin-bottom: 2rem;
  border: 1px solid #c7c7c7;
  border-radius: 20px;
  font-size: 16px;
}

/* Estilos para el botón de enviar */
.password-submit {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #e55d35;
  color: rgb(255, 255, 255);
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Caveat Brush', sans-serif;
}

.password-submit:hover {
  background-color: #ff5e00;
}

/* Estilo para el mensaje de error */
.password-error {
  color: red;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/*MEDIA QUERYS*/
/*XS*/
@media (max-width: 344px){
  .password-container {
    max-width: 80%;
    margin-bottom: 13rem;
  }
}

/*S1*/
@media (max-width: 375px){
  .password-container {
    max-width: 60%;
  }
}
@media (max-width: 390px){
  .password-container {
    max-width: 68%;
  }
}
@media (max-width: 430px){
  .password-container {
    max-width: 68%;
  }
}
@media (min-width: 431px) and (max-width: 768px){
  .password-container {
    max-width: 68%;
   
  }
  
  
}